body {
    font-family: 'times new roman', sans-serif;
    background: url("https://wallpapercave.com/wp/wp5503100.jpg");
    margin: 0;
    padding: 0;
}

 #word-display {
   font-size: 25px;
   font-weight: 1000;
}

#attempts-left {
    font-size: 25px;
} 

#guess-input {
   text-align: center;
   padding-top: 30px;
   font-size: 20px;
}

#guess {
    font-size: 17px;
    font-family: 'Times New Roman', sans-serif;
} 

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: blue;
}
h1{
    text-align: center;
    font-size: 40px;
}
#Game-container {
    padding-top: 100px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
    padding-right: 120px;
}

@media (max-width: 600px){

    body {
        font-family: 'times new roman', sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    #hangman-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
    }
    
    #word-display {
        font-size: 24px;
        margin: 20px 0;
    }
    
    #attempts-left {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    #guess-input {
        margin-top: 20px;
    }
    
    #guess {
        width: 30px;
        text-align: center;
    }
    
    button {
        padding: 5px 10px;
        cursor: pointer;
        background-color: blue;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }
    
    button:hover {
        background-color: blue;
    }
}